.arrow-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.371);
    border-radius: 5px;
    .arrow-content{
        font-size: 30px;
        color:deepskyblue;
    }
}