.section-hb-container{
    height: 400px;
    background-color: rgba(255, 255, 255, 0.341);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    // overite library
    .section-content{
        //border: 1px solid red;
        padding: 10px;
        height: inherit;
        width: 90%;
        .title-div{
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            div{
                font-size: 25px;
                font-weight:bold;
            }
            button{
                border: 1px solid rgba(0, 0, 0, 0.293);
                height: 50px;
                padding: 10px;
                font-size: 15px;
                transition: 0.4s;
                background-color:aliceblue;
            }
            button:hover{
                background-color: rgb(250, 221, 95);
                color: white;
                border: none;
                
            }
        }
        .image-container{
            border: 1px solid rgba(0, 0, 0, 0.41);
            font-size: 15px;
            height: 275px;
            width: 765px !important;
            //border: 1px solid red;
            //border: 1px solid rebeccapurple;
            display: flex !important;
            .slide-image{
                margin-right: 10px;
                background: url("../../../assets/images/anh3.png");
                background-position: center;
                background-size: cover;
                height: inherit;
                width: 50%;
                z-index: 1000;
            }
            .handbook-title{
                font-size: 20px;
            }
            
        }
        .image-container:hover{
            color: rgb(0, 189, 195);
        }
    }
}