.home-header-container{
    height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    .home-header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: auto;
        .left-content{
            display: flex;
            align-items: center;
            padding-left: 20px;
            width: 20%;
            .logo{
                height: 60px;
                padding: 5px;
            }
            .menu-bar{
                font-size: 20px;
                cursor: pointer;
            }
        }
        .center-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            .title{
                margin-top: 0px;
                font-size: 15px;
                color: black;
                cursor: pointer;
            }
            .search-header{
                padding: 5px;
                font-size: 15px;
                border: 1px rgb(182, 182, 182) solid;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
}

        }
        .right-content{
            width: 20%;
            display: flex;
            justify-content: end;
            .inner-div-right{
                text-align: center;
                margin-right: 40px;
                color: rgb(107,192,208);
                cursor: pointer;
            }
        }
    }
}