.home-header-container{
    height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    .home-header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: auto;
        .left-content{
            display: flex;
            align-items: center;
            padding-left: 20px;
            width: 20%;
            .logo{
                height: 60px;
                padding: 5px;
            }
            .menu-bar{
                font-size: 20px;
                cursor: pointer;
            }
        }
        .center-content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            font-size: 15px;
            .title{
                margin-top: 0px;
                font-size: 15px;
                color: black;
                cursor: pointer;
            }
            .search-header{
                padding: 5px;
                font-size: 15px;
                border: 1px rgb(182, 182, 182) solid;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
}

        }
        .right-content{
            width: 20%;
            display: flex;
            justify-content: end;
            .inner-div-right{
                text-align: center;
                margin-right: 40px;
                color: rgb(107,192,208);
                cursor: pointer;
            }
            .VI, .EN{
                font-size: 20px;
                min-width: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 1px solid gray;
                border-radius: 5px;
                margin-left: 10px;
                opacity: 0.5;
                cursor: pointer;

                &.active{
                    opacity: 1;
                    background-color:gold
                }

            
                .vi-flag{
                height: 20px;
                width: 20px;
                background-image: url(../../assets/images/vi.png);
                background-position: center;
                background-size: cover;
                }
                .en-flag{
                    height: 20px;
                    width: 20px;
                    background-image: url(../../assets/images/en.png);
                    background-position: center;
                    background-size: cover;
                }
                
            }

        }
    }
}

.home-header-banner{
    background: url("../../assets/images/background-3.jpg") center center no-repeat;
    opacity: 0.88;
    background-size: cover;
    width: 100%;
    height: 1000px;
    .content-up{
        height: 50%;
        background-image: linear-gradient(180deg, #00000055, rgba(255, 255, 255, 0));
        .title1{
        padding-top: 110px;
        }
        .title1, .title2{
            text-align: center;
            font-size: 50px;
            color: white;
            text-shadow: 5px 5px 5px rgba(78, 78, 75, 0.649);
        }

        .search-banner{
            width: fit-content;
            margin: auto;
            font-size: 20px;
            background-color: gold;
            margin-top: 50px;
            padding: 15px;
            border: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            input{
                margin-left: 10px;
                width: 500px;
                font-size: 20px;
                border: none;
                background-color: transparent;
                outline: none;
            }
        }

        .options{
            display: flex;
            justify-content: space-between;
            width: 380px;
            height: auto;
            margin: auto;
            margin-top: 50px;
            img{
                height:50px;
                width: auto;
            }
        }
    }
    .content-down{
        height: 50%;
        display: flex;
        justify-content: space-around;
        // padding-bottom: 20px;
        background: linear-gradient(to top, #ffffff, #ffffff00);
        .options{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: flex-end;
            .inner-down{
                width: 200px;
                height: 150px;
                text-align: center;
                .image-container{
                    margin: auto;
                    background-color: white;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    .image-chuyenkhoa{
                        background: url('../../assets/images/chuyenkhoa.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                    .image-tuxa{
                        background: url('../../assets/images/tainha.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                    .image-tongquat{
                        background: url('../../assets/images/tongquat.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                    .image-xetnghiem{
                        background: url('../../assets/images/xetnghiem.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                    .image-tinhthan{
                        background: url('../../assets/images/tinhthan.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                    .image-nhakhoa{
                        background: url('../../assets/images/nhakhoa.png') center center no-repeat;
                        background-size: cover;
                        height: 50px;
                        width: 50px;
                    }
                }
        }
            b {
                font-size: 20px;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
            }
        }
    }
}