@import "../../styles/common.scss";
.header-tabs-container{
    display: flex;
}
.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .left-container{
        display: flex;
        justify-content: space-around;
        width: 400px;
        height: inherit;
        .wellcome{
            width: fit-content;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        .switch-language-container{
            width: 150px;
            height: inherit;
            display: flex;
            // border: 1px solid white;
            .vi-container, .en-container{
                width: 75px;
                height: inherit;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                transition: 0.5s;
                padding: 0 10px;
                &:hover{
                    background-color: rgba(218, 165, 32, 0.517);
                }
                .vi-flag{
                    height: 20px;
                    width: 20px;
                    background-image: url(../../assets/images/vi.png);
                    background-position: center;
                    background-size: cover;
                }
                .en-flag{
                    height: 20px;
                    width: 20px;
                    background-image: url(../../assets/images/en.png);
                    background-position: center;
                    background-size: cover;
                }
                &.active{
                    background-color: goldenrod;
                }
            }
        }
        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}